@import 'vars'
@import 'buttons'
@import 'header'
@import 'pageContent'
@import 'pageList'
@import 'navigation'
@import 'projects'

html, body 
	margin: 0
	padding: 0
	user-select: none
	background-color: $backgroundColor
	font: 12px $fontStack
	color: $color

h1
	color: $headingColor