.pageContainer
	position: absolute
	bottom: 20px
	left: 20px
	right: 20px
	top: 100px

.pageContainer > *
	height: 100%
	float: left
	border: 1px solid black
	overflow-y: auto

.contentContainer
	width: calc(85% - 3px)
	border-radius: 0 6px 6px 0
	border-left: none!important

.editing 
	outline: 1px dashed red