@import 'vars'

.projectOverview, .userProfile
	margin: 20px

	h1
		display: inline

	span.scope
		color: $headingColor
		margin: 0 10px

	span.editBtn
		color: blue

	textarea
		width: 95%
		display: block
		min-height: 500px

.createProject table
	width: 100%