<!DOCTYPE html>
<html>
	<head>
		<title>jstogether Error: <%- code %></title>
		<link rel="stylesheet" type="text/css" href="css/error.css" />
	</head>
	<body>
		<h1>jstogether</h1>
		<h2><%- code %>: <%- msg %></h2>
		<p>
			<%- message %>
		</p>
	</body>
</html>